.input-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.d-card-edit {
  position: relative;
  width: 235px;
  height: 400px;
  background-image: url("https://ik.imagekit.io/sathishkumar/digitalCardImages/1(1).png?updatedAt=1728202067701");
  background-size: contain;
  background-repeat: no-repeat;
}

.input-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.option-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.option-button span {
  font-size: 12px;
  color: #6b4d8b;
}

.option-button.active {
  background-color: #d4c2e0;
  border-radius: 4px;
}

input[type="color"] {
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
}

.draggable-item {
  position: absolute;
  cursor: pointer;
}